In [166]:
# Add the Pandas dependency.
import pandas as pd
import os

In [167]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [168]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [169]:
# Read the Student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [170]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()

In [172]:
# Split the student name and determine the length of the split name.
"for name in student_names:
   " print(name.split(), len(name.split()))

SyntaxError: EOL while scanning string literal (<ipython-input-172-27e2cf1c7b5c>, line 2)

In [173]:
# Create a new list and use it for the for loop to iterate through the list.
students_to_fix = []


# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)

# Get the length of the students whose names are greater than or equal to "3".
len(students_to_fix)

1531

In [8]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

print(prefixes)

['Dr.', 'Dr.', 'Mr.', 'Dr.', 'Miss', 'Luke', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mary', 'Mrs.', 'Mrs.', 'Mr.', 'Tara', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'John', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dale', 'Dr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Amy', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mr.', 'Lisa', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mark', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Miss', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Mrs.', 'Mr.', 'Tara', 'Dr.', 'Mr.', 'Cody', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Sara', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Ryan', 'Mrs.', 'Mr.', 'Ms.', 'Mr.', 'Dr.', 'John', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Ms.', 'Mr.', 'Miss', 'Tony', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Mrs.', 'Jodi', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Ruth', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'John', 'Dr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'John', 'Amy', 'Adam', 'Dr.', 'Eric', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Kyle', 'Mr.', 'Ms.', 'Lynn', 'Dr.', 'Mr.', 'Jon', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Judy', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Sara', 'Dr.', 'Dr.', 'Mrs.', 'Tara', 'Dr.', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Mr.', 'Dr.', 'Miss', 'Tina', 'Dr.', 'Eric', 'Ms.', 'Ms.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Miss', 'Dr.', 'Paul', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Marc', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Amy', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Jill', 'Mary', 'Carl', 'Mr.', 'Dr.', 'Jose', 'Mrs.', 'Mary', 'Ms.', 'Jose', 'Lisa', 'Mrs.', 'Mr.', 'Miss', 'Mr.', 'Eric', 'Mr.', 'Mrs.', 'Mrs.', 'Miss', 'Emma', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Mr.', 'Gary', 'Mr.', 'Lori', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Noah', 'Dawn', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Chad', 'Mr.', 'Paul', 'Mrs.', 'Dr.', 'Mrs.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Eric', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Dr.', 'Adam', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Anne', 'Mr.', 'Mrs.', 'Troy', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Miss', 'Mr.', 'Anna', 'John', 'Mr.', 'Mr.', 'Mrs.', 'Eric', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ryan', 'Mrs.', 'Dr.', 'Emma', 'Mr.', 'Mr.', 'Mrs.', 'Miss', 'Mr.', 'Mr.', 'Mrs.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Lisa', 'Mr.', 'Dr.', 'Mrs.', 'John', 'Mrs.', 'Ms.', 'Mrs.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Amy', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Lori', 'Mr.', 'Dr.', 'Mrs.', 'Amy', 'Dr.', 'Mrs.', 'Dr.', 'Anne', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mike', 'Mrs.', 'Todd', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Mrs.', 'Mrs.', 'Dr.', 'Dr.', 'Miss', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Ms.', 'Mr.', 'Miss', 'Dr.', 'Miss', 'Dr.', 'Leah', 'Miss', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Ian', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Miss', 'Dr.', 'Mrs.', 'Ms.', 'Dr.', 'Dr.', 'Mark', 'Mr.', 'Kari', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Dr.', 'Mrs.', 'Dr.', 'Mrs.', 'Kara', 'Mark', 'John', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Eric', 'John', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Paul', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Adam', 'Mrs.', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Ms.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Paul', 'Mrs.', 'Cory', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Erin', 'Dr.', 'Dr.', 'Ms.', 'Mrs.', 'Mr.', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Ms.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'John', 'Lisa', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Jon', 'Mrs.', 'Dr.', 'Greg', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Miss', 'Mr.', 'Dr.', 'Joe', 'Dr.', 'Mark', 'Dr.', 'Mrs.', 'Miss', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Adam', 'Mr.', 'Mr.', 'Dana', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Mr.', 'Erik', 'Mrs.', 'Dr.', 'Miss', 'Mrs.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'John', 'Gail', 'Todd', 'Mr.', 'Mr.', 'Mrs.', 'Ms.', 'Ryan', 'Mrs.', 'Mrs.', 'Dr.', 'Erik', 'Omar', 'Mr.', 'Dr.', 'Cody', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Mr.', 'Miss', 'Mark', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Mr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Miss', 'Mrs.', 'Seth', 'Dr.', 'Mrs.', 'Ryan', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Ryan', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Lisa', 'Mr.', 'Dr.', 'Chad', 'Gina', 'Dr.', 'Mr.', 'Mr.', 'Mrs.', 'Amy', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mrs.', 'Lisa', 'Mrs.', 'Dr.', 'Miss', 'Mr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Lisa', 'Dr.', 'Mr.', 'Ms.', 'Mrs.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Sean', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Miss', 'Miss', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mrs.', 'Mr.', 'Mrs.', 'Mrs.', 'Dr.', 'Mrs.', 'Dr.', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Todd', 'Dr.', 'Mrs.', 'Mrs.', 'Miss', 'Dr.', 'Mrs.', 'Mr.', 'Mr.', 'Mrs.', 'Adam', 'Mrs.', 'Ms.', 'Tony', 'Dr.', 'Miss', 'Toni', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Ms.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.', 'Dr.', 'Jose', 'Dr.', 'Dr.', 'Amy', 'John', 'Mrs.', 'Mr.', 'Mrs.', 'Mrs.', 'Miss', 'Mr.', 'Dr.', 'Mary', 'Mark', 'Dr.', 'Ms.', 'Ms.', 'Dr.', 'Mr.', 'Dr.', 'Miss', 'Mr.', 'Dr.', 'Troy', 'John', 'Dr.', 'Kim', 'Mr.', 'Mr.', 'Miss', 'Mary', 'Mrs.', 'Mrs.', 'Mrs.', 'Mr.', 'Dr.', 'Ms.', 'Mrs.', 'Anna', 'Mr.', 'Mrs.', 'Mr.', 'Mr.', 'Dr.', 'Mrs.', 'Dr.', 'Dr.']

In [174]:
# Add the suffixes less than or equal to 3 to a new list.
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

print(suffixes)

['MD', 'MD', 'MD', 'III', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'II', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'PhD', 'MD', 'DVM', 'Lee', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'PhD', 'IV', 'MD', 'DDS', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'IV', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'MD', 'PhD', 'II', 'MD', 'DDS', 'DDS', 'DDS', 'Jr.', 'III', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'Jr.', 'Jr.', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'Cox', 'DVM', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'Roy', 'DDS', 'DDS', 'DDS', 'II', 'PhD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'Jr.', 'Day', 'DDS', 'MD', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'MD', 'III', 'DVM', 'PhD', 'Jr.', 'II', 'DDS', 'DDS', 'DVM', 'MD', 'II', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'DVM', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'II', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'IV', 'DDS', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'V', 'II', 'MD', 'PhD', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'MD', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'DDS', 'DDS', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'DDS', 'III', 'DVM', 'Jr.', 'DDS', 'DDS', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'Lee', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'DDS', 'DVM', 'DDS', 'DVM', 'DDS', 'DVM', 'DVM', 'DDS', 'II', 'MD', 'III', 'DDS', 'DDS', 'DVM', 'DVM', 'MD', 'Jr.', 'II', 'MD', 'PhD', 'PhD', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'III', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DDS', 'Jr.', 'PhD', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'DDS', 'DDS', 'MD', 'Jr.', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'Jr.', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'Jr.', 'PhD', 'DDS', 'MD', 'II', 'PhD', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DVM', 'III', 'Jr.', 'DVM', 'MD', 'MD', 'V', 'Jr.', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'Jr.', 'MD', 'PhD', 'DVM', 'DDS', 'PhD', 'MD', 'DDS', 'DDS', 'MD', 'DVM', 'IV', 'Jr.', 'MD', 'MD', 'Jr.', 'PhD', 'II', 'Jr.', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'PhD', 'PhD', 'DDS', 'DDS', 'PhD', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'Jr.', 'Jr.', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'DVM', 'DDS', 'PhD', 'PhD', 'Kim', 'DDS', 'PhD', 'DVM', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'PhD', 'MD', 'MD', 'II', 'III', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'MD', 'IV', 'Jr.', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DVM', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'DVM', 'III', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DDS', 'DVM', 'Jr.', 'III', 'MD', 'MD', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'DVM', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'II', 'MD', 'Jr.', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'Jr.', 'PhD', 'PhD', 'PhD', 'DDS', 'Jr.', 'DVM', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'Lee', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'II', 'DVM', 'Jr.', 'DVM', 'MD', 'Jr.', 'DDS', 'DVM', 'DDS', 'Jr.', 'DVM', 'Jr.', 'DDS', 'MD', 'PhD', 'DDS', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'DDS', 'DDS', 'DDS', 'DDS', 'MD', 'DVM', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'PhD', 'MD', 'Jr.', 'DVM', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'II', 'MD', 'Jr.', 'PhD', 'MD', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'PhD', 'DDS', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'IV', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'PhD', 'DVM', 'Jr.', 'MD', 'MD', 'DDS', 'III', 'DVM', 'DDS', 'Jr.', 'MD', 'MD', 'Jr.', 'MD', 'MD', 'DVM', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'DDS', 'Jr.', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'PhD', 'MD', 'II', 'Jr.', 'III', 'MD', 'PhD', 'MD', 'MD', 'PhD', 'II', 'DDS', 'DVM', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DVM', 'MD', 'II', 'DDS', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'IV', 'MD', 'Jr.', 'III', 'DDS', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'PhD', 'MD', 'II', 'Li', 'DVM', 'MD', 'DVM', 'DDS', 'DDS', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'Jr.', 'DVM', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'Jr.', 'DDS', 'PhD', 'Jr.', 'DDS']

In [175]:
# Get the unique items in the "prefixes" list.
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [176]:
# Get the unique items in the "suffixes" list.
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [178]:
# Strip "Mrs." from the student names
for name in students_to_fix:
    print(name.strip("Mrs."))

Dr. Richard Scott

AttributeError: 'NoneType' object has no attribute 'head'

In [14]:
# Replace "Mrs." from the student names
for name in students_to_fix:
    print(name.replace("Dr.", ""))

 Richard Scott
 Jordan Carson
Madeline Snyder MD
Mr. Dylan Taylor MD
 Scott Gill
Miss Madison Everett
Virginia Ramirez MD
Joseph Morales III
Angela Perkins DVM
Heather Allen MD
Luke Lowery MD
 Larry Hines
Emily Cardenas MD
Mrs. Elizabeth Espinoza DDS
Mrs. Lisa Becker
Mr. Travis Young
Paula Fernandez DVM
 Xavier Bell II
Andrew Hanson MD
Mr. Roberto Wright MD
Mr. Dale Miller
Mary Gonzalez DDS
Mrs. Cindy Brown
James White MD
Donald Gill DDS
Mrs. Catherine Williams MD
Ashley Caldwell MD
Mr. Jared Campbell
Michael Moreno PhD
Tara Parker MD
Shawn Williams DVM
 Alicia Martinez
Mr. Timothy Anderson
Mrs. Paula Lee
Mr. Elijah Hall
Mr. Raymond Stone
John Dickerson MD
Mr. Alex Franklin
Mrs. Jessica Dunn
Mr. Michael Stevenson
Jason Jones DDS
Adriana Wade MD
Erica Hurley MD
 Garrett Wright
Mr. James Allen
Mr. Timothy Harper MD
Dale Brown MD
 Christina Moore
Angela Peterson MD
Jennifer Ferguson MD
Anthony Wilson DDS
 Jessica Lopez
David Miller Jr.
 John Jones
Ms. Samantha Brown
Cynthia Hansen DVM
Rebecca Montoya MD
 Jacob Matthews
 Jacob Bell
Mr. Bruce Thomas
Robert Martin MD
Mrs. Marcia Jones PhD
Reginald Garcia IV
Patricia Smith MD
Amy Dyer DDS
Brian Hall DDS
Douglas Levy DDS
Mr. Eric Ibarra
Benjamin Ramirez MD
Raymond Freeman DDS
Carla Reeves MD
 Donald Williams
Mr. John Carter
William Jackson DVM
Mr. Mitchell Cooper
Kevin Brown IV
Mrs. Kathleen Reed
Donna Robinson MD
Mrs. Dawn Olson DDS
Mr. Dustin Glover
Alexis French MD
Lisa Guerrero MD
David Nguyen DVM
William Washington Jr.
Julie Patterson MD
Mr. James Kelly
 Robert Martin
Darlene Thomas PhD
Mr. Juan Jenkins
Mr. Juan Bryant II
Mr. Matthew Coleman
Bonnie Hammond MD
Kathleen Harris DDS
Steven Velez DDS
Tammy Cruz DDS
 Marie Williams
Kenneth Paul Jr.
Mr. Jose Morris
Scott Rivers III
Melissa Rodriguez MD
Geoffrey Ortiz MD
Matthew Stewart MD
Sandra Thompson DDS
Mark Myers Jr.
Mrs. Maria Smith DDS
 Kimberly Clements
 Kenneth Webb
Amanda Patterson DVM
Miss Tara Banks DDS
Nancy Brown DVM
Chase Boyd MD
Mr. James Spence
Miss Colleen Stewart DDS
Mr. Todd Greene PhD
Amanda Hamilton DDS
Mrs. Lisa Rowland
Mr. Eric Moon
Mrs. Alicia Kelly DDS
Mr. Michael Norton Jr.
Mr. James Crosby
Mr. Sean Pena Jr.
Kathy Lucero DVM
Dustin Ferguson DDS
 James Patterson
 Juan Cobb MD
Victoria Garcia MD
Michael Evans DVM
Miss Ebony Bell
Mr. Justin Mullins DDS
Mrs. Jill Walker
Mr. Eric Hicks
Tara Williams DVM
 Jessica Watkins
Mr. Joseph Turner
Cody Mueller Jr.
Kiara Williams MD
Mathew White Jr.
Steve Hendricks MD
Mr. Victor Duarte
 Stacy Maynard
Mr. Steven Snyder PhD
Jessica Warner PhD
Trevor Summers DDS
Maria Doyle MD
Stacie Walker DDS
Megan House DVM
Ms. Deborah Coleman
 Ryan Barker
Mr. Michael Cox
Mrs. Rebecca Martin DVM
Sara Jacobs MD
Mr. Jason Daugherty Jr.
Mrs. Natalie Holder MD
Charles Hernandez DDS
 Charles Lawrence
Mr. Tyler Walker
Janet Whitaker MD
Jeremy Watkins MD
David Martinez DDS
Kimberly Olsen DDS
 Nicole Roy
Mr. Justin Maxwell
Danielle Robinson DDS
Mrs. Susan Chase DDS
Mr. Alex Gonzales DDS
Leonard Webster II
David Taylor PhD
Mr. Christopher Stuart
Mr. Kevin Wilson
Mr. John Walters
Breanna Peterson MD
Terri Quinn PhD
Christian Reynolds DDS
Mr. Donald Gray
 Shawn Brown
Samantha Salas MD
Valerie Thomas DDS
Mrs. Gina Anderson
Michael Stein Jr.
Mr. Robert Day
Justin Hernandez DDS
Mrs. Mikayla White
 Edward Palmer
Elizabeth Coleman MD
Alexandra Hood PhD
Michael Gonzalez DDS
Ryan Phillips Jr.
Ashley Jones DDS
Susan Trujillo MD
Carol Baker MD
Kelly Ibarra MD
Mrs. Crystal Perez
Mr. Joshua Jensen MD
Ms. Vanessa Ortiz DDS
Mr. Jay Navarro
 Jimmy Smith MD
John Compton DDS
Mario Wheeler PhD
Mr. Joshua Simon
Alicia Ferguson DVM
 Amy Melendez
Gloria Fritz DDS
 Michael Miller
Mrs. Alexandra Taylor
 Jennifer Ramirez MD
Mrs. Amy Walker MD
David Dickson MD
Amanda Mills DDS
Mr. Jason West
Mr. Joshua Hall
Mrs. Elizabeth Mitchell
 Sarah Miller
Allen Snyder Jr.
Calvin Williams Jr.
 Tammy Shelton
Miss Jennifer Gibson
Miss Christy Robinson
Mr. Michael Rhodes
Deborah Huffman DDS
Ronald Torres Jr.
Mr. Oscar Bautista
Ellen Mcgee MD
Emily Andrews MD
Richard Williams PhD
Mr. Michael Baker PhD
 Robert Taylor
Traci Obrien DDS
Robert Harris MD
 Diana Martin
Logan Ward MD
Mrs. Janice Dixon
Gabriel Smith III
Linda Duran DVM
Ronald Mayer PhD
Mr. David Smith
Brian Pitts Jr.
Ms. Stephanie Rose
Mr. Richard Stephens
Miss Kimberly Joseph
Bruce Thompson II
Tony Adams DDS
 Annette Collins DDS
Mr. Chad Hendricks
Lindsey Tyler DVM
Michael Drake MD
Jeremy Sanders II
Mr. George Goodwin MD
Amanda Ramirez DDS
Aaron Morris MD
Mrs. Michelle Butler
Mr. Robert Carson
Mrs. Jennifer Martin DDS
Miss Amber Wallace
Mrs. Mary Hardy
Jennifer Smith PhD
Jodi White DDS
Mr. Ryan Strickland
Mr. Michael Koch
Mrs. Kara Rodriguez DDS
Mr. Ryan Adams
Austin Johnson II
Mr. Samuel Robertson DVM
Benjamin Vargas DDS
Mrs. Wendy Thomas
Bryan Conway Jr.
Brittany Hatfield DVM
Mrs. Casey Hayes
Johnny Byrd MD
Nicole Burke MD
Brett Banks DVM
Mrs. Lori Johnson
Michael Shea MD
Jesse Thompson DDS
Brooke Simpson DVM
Mr. Michael Davis
Mr. Thomas White
Jessica Scott DDS
Mr. Michael Burton
Mrs. Laurie Brown
 Cindy Logan
Nicholas Jones MD
Ronald Moore II
Mr. Jonathon Patrick
Mr. Andrew Kemp
Alexander Garcia PhD
Brett Campbell MD
Mrs. Paige Hall
Danielle Smith MD
Catherine Mendez MD
Mr. David Mcdonald
Mrs. Ashley Porter DDS
Jason Mcdowell MD
Mr. Martin Lozano
Bruce Hendrix MD
Pamela Cox DDS
 Kristina Turner
Samantha Buchanan DDS
Mr. Cameron Singh
Mr. Steven Davis
Ruth Martinez MD
George White DDS
 Michael Johnson
Joshua Garrison PhD
Mr. Nicholas Rodriguez DVM
Ms. Sarah Ray DVM
Natalie Rivera MD
 Tracy Powell
Mr. Jason Chavez MD
Mrs. Leslie Mathews
Patrick Newman DDS
Mr. Michael Chapman DDS
Jennifer Long PhD
Matthew Anthony MD
Robert Garrison IV
Jamie Anderson DDS
William Gonzalez Jr.
 Jennifer Weiss
 Cynthia Torres
John Miranda DDS
 Brian Matthews Jr.
Mr. Christopher Quinn
Mrs. Jacqueline Rose
Mrs. Angela Gray
Mrs. Tara Carpenter
Shannon Stevenson MD
Kaitlin Warner MD
 Jessica Fowler MD
Mrs. Catherine Armstrong
John Mullins DDS
Christina Benson MD
Amy Martinez DVM
Ashley Edwards DVM
Melissa Herrera DDS
Adam Arroyo DDS
 Amanda Cochran
Eric Richards Jr.
Mrs. Angela Martinez
Natalie Garcia MD
Mr. Dennis Duke
Christopher Fleming MD
Misty Beck DDS
Sharon Lloyd DDS
Mrs. Laura Malone MD
 Gabriel Flores MD
 Russell Gallegos
Kyle Walker MD
Caleb Oliver MD
Mr. Cameron Erickson
Pamela Oliver DVM
Mariah Russell MD
Jonathan Fisher DVM
Ms. Sarah Mcintosh DVM
Lynn Jones MD
Allison Martinez DDS
Jeffrey Zamora MD
Kenneth Munoz Jr.
 Ellen Mcclure DDS
Samantha Ballard MD
Mariah Franco MD
Mr. Daniel Smith DVM
Jon Delgado Jr.
Mrs. Anna Dickerson
Mrs. Cynthia Martinez DDS
Angela Hamilton MD
Mrs. Stephanie Stone
 Marcus Kim MD
Jordan Brewer PhD
Mrs. Veronica Neal
 Mike Alvarez
Patricia Lee DDS
Andrew English Jr.
 Jennifer Martinez MD
 Donna Humphrey
Mrs. Jennifer Tucker DDS
Mrs. Jamie Bond
Judy Mills MD
Christina Jackson DDS
Mr. Raymond Cox Jr.
 Donna Cooper
Jeffrey Mcclain Jr.
Mr. Joseph Hill
Bryan Shaffer DVM
Julie Bond MD
Michael Hunter DDS
Melissa Rodriguez PhD
Deborah Rodriguez MD
Mrs. Andrea Wilson
 Jonathan Woods PhD
Jacob Ballard MD
Mr. Brian Poole V
Jeffrey Kim II
Mr. Michael Gonzalez
Kevin Brooks MD
April Hansen PhD
Mr. Brian Austin
Sara Cooper DVM
Kelsey Ellis MD
Deborah Madden MD
 Brooke Silva
 Melissa Allen PhD
Karen Thomas MD
Mrs. Sophia Harper
Tara Singleton MD
 Alison Flores
Kenneth Adams MD
Mrs. Natasha White
Amanda Sanchez DDS
Scott Campbell DVM
Matthew Alexander Jr.
 Shane Gilmore MD
Miss Paula Lawson
Mrs. Theresa Roberts
Kevin Reynolds Jr.
Mr. David Anderson
 Gabrielle Morris
Jacob Skinner Jr.
Miss Lisa Kennedy
Timothy Byrd DDS
Haley Jordan PhD
Deborah Mack DVM
Mckenzie Morris DVM
Megan Saunders MD
Tina Meyer MD
Harold Sutton MD
James Allen DVM
 Lauren Perry
Eric Riley MD
Jamie Rogers DDS
Natasha Lee MD
Ms. Paula Taylor
Theodore Mendez DDS
Ms. Rebecca Johnson
Mr. Dennis Gibson Jr.
Mrs. Sherry Flores MD
 Alejandro Swanson
 Tiffany Peters DDS
Christopher Crawford DDS
Jimmy Shea Jr.
Mr. Joshua Cunningham
Mr. Travis Jackson
 Mary Johnson
Mr. Patrick Duarte
Mr. Adam Hernandez
 Susan Wright
Miss Stephanie Perry DVM
 Tracey Gonzalez
Paul Hernandez DVM
Mrs. Jasmine Schroeder
Mr. Adam Sosa
Linda Sanchez DDS
Mrs. Danielle Jones
Benjamin Henry MD
Mr. Randy Reyes
Mr. Russell Elliott
Mr. Thomas Smith MD
Rachel Hanna DVM
Robert Stephens MD
 Sean Duncan MD
Maria Adams MD
Mrs. Theresa Bauer
Teresa Blair DDS
 Jennifer Campbell MD
 Melody Garcia
James Reed Jr.
Elizabeth Wallace MD
Mrs. Gina Williams
Emily Price MD
Mrs. Bonnie Boyd PhD
 Harry Campbell
 Kevin Simon
 Eric Lambert PhD
Mr. John Mathis
Jason Bush DDS
Ms. Amy House
 Kevin Diaz
Mr. Kevin Benjamin
Mrs. Michelle Dickerson DDS
 Alexandra Mays
Mrs. Jessica Hebert
 George Cline
Mrs. Whitney Scott
Jennifer Jenkins DDS
Mr. Gregg Rosario
Scott Roth MD
Evelyn Kirby MD
Miranda Thompson PhD
 Carla Ross
Mrs. Tanya Odom
Jeffery Baker Jr.
Mrs. Melissa Medina
Daniel Lara MD
Mrs. Nicole Vazquez
 Emily Gutierrez DDS
 Stephanie Smith
Derrick Hughes III
Mr. Eduardo James
Mr. Michael Cook
Mr. David Hill
 Ryan Orozco DVM
Joshua Rivera Jr.
Marc Harmon DDS
Mr. Keith Peters DDS
Amanda Freeman MD
 Michelle Carlson
 Stephen Vargas
Colleen Frederick DVM
 Harry Chang
Taylor Grant MD
Mrs. Renee Thomas DDS
 Shannon Johnson MD
Mrs. Christina Horne
Mrs. Deborah Walters PhD
Mr. Jesse Gonzalez
Larry Martinez DDS
Mrs. Anita Lee
 James Jones
 Tammy Jones
Michael Golden MD
 Gavin Tate
 Christopher Collins
Timothy Guzman Jr.
Mr. Alexander Thomas
 James Lewis
Mr. Andrew Miller
Mrs. Kelly Hall
 Kayla Lowe
 Joseph Park
 Alfred Foster
Amy Stephenson MD
Stephen Black DVM
 Daryl Smith
Stuart Gross DDS
Michael Hardy DDS
Mr. Kenneth Chase
Mrs. Anna Everett MD
Mr. Joshua Young
Mrs. Robin Lopez MD
 Elizabeth Benson
 Casey Hogan
Elizabeth Peterson DVM
Marilyn Vasquez DVM
Mr. Jack Reed
Zachary Shields DVM
Mrs. Molly Lopez MD
 Stephanie Jones
Benjamin George DDS
David Thomas DVM
Jill Hudson DDS
Mary Mccormick MD
Michelle Smith MD
Carl Burns MD
Mr. Juan Buckley DDS
 Michelle Brown
Jose Huffman PhD
Deanna Mccarthy DDS
Mrs. Robin Hughes
Laura Shannon DVM
Mary Fox DDS
Ms. Jamie Sanchez
Meredith Tucker DVM
Jose Manning DDS
Lisa Bruce DVM
Crystal Howard DVM
Mrs. Tracy Williams
Mr. Jeffery Diaz
Julie Baker DDS
Miss Danielle Adams
Lonnie Allen II
Mr. Bryan Brooks
Ashley Jimenez MD
Tyrone Clark III
Eric Mullins DDS
Mr. Jonathan Walker
Patricia Villarreal DDS
Mrs. Megan Kaufman DVM
Mathew Thompson DVM
Mrs. Whitney Figueroa
Miss Debbie Chavez
Emma Bates MD
Jeffrey Nelson Jr.
Michael Mann II
Mrs. Karina Perry
 Chelsey Williams MD
Jessica Sanchez PhD
Joseph Ellis PhD
Mrs. Heather Gregory
Mr. Steven Davies
 Lauren Brown
Brett Garcia MD
Anthony Davis DDS
Anita Salazar DVM
Joseph Jones DVM
Edward Davis MD
Mr. Brian Abbott
Nicole Pennington MD
Kelly Doyle DVM
Franklin Chen DVM
Mr. Brandon Young
Nathan Welch PhD
 Katrina Farmer
David Johnson Jr.
Timothy Chavez Jr.
Michele Oconnell MD
Elizabeth Tran MD
 Grace Martin
Sarah Chaney DDS
Mrs. Brooke Henry DDS
 Lisa Coleman
Brian Powell III
Logan Oconnell PhD
Lance Rangel Jr.
 Nicole King
Mr. John Carroll
Mr. Anthony Mccormick
Samuel Ruiz MD
Ms. Jennifer Richard
Mr. Stephen Cochran
Gary Jarvis MD
Dustin Stephenson MD
Mr. Derrick Campbell DDS
Lori Brown MD
Mrs. Brooke Rodgers
Mr. David Moss
Mr. Joseph Knight DDS
Mrs. Brittany Duncan MD
Mrs. Jennifer Edwards DVM
William Cook PhD
Kristina White MD
Tonya Henry MD
Robert Sanders PhD
Noah Herrera Jr.
Linda Marshall MD
James Davis MD
Dawn Gilbert MD
 Dennis Andrews
Mr. John Evans
Mr. Michael Brooks
Shannon Ortiz MD
Mrs. Brenda Bishop MD
Wanda Miller MD
Mrs. Sheila Wagner
Mrs. Kathleen Johnson DVM
 Shannon Russo
Chad Chavez DVM
Mr. William Holt
Paul Jensen PhD
Cassandra Gardner DDS
Mrs. Susan Klein
 Amanda Nguyen
Mrs. Leslie Esparza
Mrs. Jacqueline Simpson
Mrs. Tammy Crane
 Wendy Oliver
Katelyn Mejia DDS
 Miguel Rivera
Mrs. Nancy Landry
Renee Stewart MD
Breanna Mcintyre DDS
Sarah Fischer MD
Ronald Berry DVM
Mrs. Amanda Cook
 Monica Gonzalez
Miss Jennifer Moore
Crystal Watson DVM
Suzanne Edwards DDS
Lance Brown DVM
Olivia Taylor DDS
Mrs. Lauren Lewis
Jillian Proctor MD
Yvette Jacobson MD
Chelsea Rhodes DVM
Robert Brown DVM
Maria Brooks DDS
Eric Johnson Jr.
Kelly Webb PhD
 Valerie Chen
Mrs. Taylor Martin
 Andre Casey
Mr. Stephen Clements
Kevin Morrow MD
 Louis Skinner
Adam Walker DVM
Mr. Steven Smith
 Willie King
Miranda Stanley DVM
 Travis Johnson
Mr. Christopher Cook
Mr. Martin Hensley DDS
Kelly Haynes DVM
Mr. Alexander Foster MD
Mr. William Rodgers
Anne Larsen MD
Sherry Johnson MD
Victor Chavez II
Brandon Dougherty DDS
Elizabeth Young DDS
Mr. Joshua Lucas
Michael Walsh DDS
Mrs. Lauren Campbell
Troy Camacho MD
Richard Ellis Jr.
Mr. Brandon Johnson
Mrs. Brooke Campbell
 Karen Kelley
Mr. Jason Simmons
Mr. Larry Francis MD
Mr. Christopher Griffin
Mr. Dean York
Charles Goodman Jr.
Miss Erin Bradley DDS
Mr. Michael Allen
Kelly Romero MD
Anna Yang MD
John White DVM
Mr. James Barnes
Mr. Carlos Warner
April Calderon MD
Mrs. Kimberly Key DDS
Eric Park DDS
Patrick Barker PhD
Michael Singh Jr.
Jonathan Smith Jr.
Allen Morris Jr.
Mr. Lee Rose
 Carl James
 Kimberly Benjamin
Mr. Lucas Smith
Mr. Jason Grant DDS
Aaron Solis Jr.
Ryan Graham MD
Justin Morgan MD
Mrs. Victoria Cochran
 Ryan Roberts
Katie Strickland DDS
Emma Perry MD
Mr. Daniel Mckinney Jr.
Mr. Paul Farmer
Stephanie Howard MD
Mandy Mcconnell DDS
Mrs. Angelica Hall
Christopher Petty Jr.
Megan Shaw DDS
Bianca Huynh MD
Miss Christina Burns
Melissa Dunn MD
Mr. Derek Wilson
Mr. Angel Johnson
Mrs. Nicole Duran
Michael Garcia Jr.
Mrs. Bethany Fisher PhD
Mr. Daniel Nguyen DDS
Wanda Moore MD
Charles Short II
Kimberly Jacobson PhD
Debbie Brown DVM
Mr. Michael Dyer MD
Joshua Kim DDS
Daniel Fitzpatrick PhD
Jordan Waller MD
Mr. Jesse Bell
Mario Myers MD
Terry Adams DDS
Derek Barker Jr.
Mrs. Renee Gordon
Mr. Vincent King
 Oscar Lawson MD
Lisa Zimmerman DVM
Mr. Phillip Vaughan
Joseph Dyer MD
 Austin Cole
Mrs. Amanda Martin
John Thomas MD
Sierra Dominguez MD
Mrs. Katie Weber MD
Ms. Nancy Green
Mrs. Pamela Garcia
Danielle Stanton MD
Elizabeth Logan DDS
Courtney Wall DVM
Karen Harris PhD
Mrs. Amanda Herring
 David Miller
Mr. Eric Anderson
Mrs. Sheena Bailey DVM
Zachary Garrett III
Thomas Harrison Jr.
Megan Bennett DVM
Mr. Steven Harrison
Amy Mcintosh MD
 Frank Anderson
Jamie Dawson MD
Mr. Andrew Mitchell V
 Travis Richmond
Mrs. Amy Cain
Aaron Davis Jr.
Thomas Burgess MD
Amanda Hale DVM
Derek Cooke MD
 Daniel Bowman
 Jonathan Palmer
Lori Mitchell DDS
Mr. Richard Armstrong
 Timothy Johnson
Mrs. Pam Lewis DVM
Amy Gutierrez DDS
 Christina Flores
Brian Bailey Jr.
Mrs. Carla Humphrey
William Burch MD
Yvonne Robinson PhD
Martha Mcdonald DVM
 Mary Schwartz
Taylor Green DDS
Christopher Simmons PhD
Rhonda Peterson MD
Jacqueline West DDS
Anne Lee DDS
Jacqueline Snow MD
 Jennifer Shea
Clayton Williams DVM
Mr. Jeremiah Morris IV
Mr. John Harris
Mr. David Morales Jr.
Barbara Johnson MD
Megan Gutierrez MD
Larry Chandler Jr.
Ronald Matthews PhD
James Clark II
Cameron Roman Jr.
Mr. Ian Smith
Melissa Hunt MD
Alexandria Cooper MD
Mr. Andre Jensen
Renee Garcia MD
Christopher Smith Jr.
Mrs. Lori Rogers MD
Tammy Dunlap DVM
Matthew Sawyer PhD
Mike Harris PhD
Mrs. Christina Mitchell DDS
Evelyn Suarez DDS
Christina Alvarez PhD
Emily Duran MD
Todd Grant Jr.
Mrs. Veronica Sherman
Mr. Alan Anderson
Mr. Jason Jackson
Mrs. Jennifer Rivera
 Terry Sanchez
Mr. Scott Sexton
Mrs. Wendy Hayes
Kenneth Santiago MD
 Matthew Hernandez
Louis Hodges DDS
 Douglas Duffy
Mrs. Michelle Patterson
Mrs. Jennifer Craig
Mr. Michael Graham
 David Wright
Jeanne Fischer MD
Mrs. Amanda Rose
Rebecca Salazar DDS
Mrs. Kathleen Cook
Robert Olson DVM
Richard Cherry DDS
Jeffrey Shepard DVM
James Holland MD
 Patricia Baker
Joshua Montgomery MD
Kevin Andrews PhD
 Rachel Gilbert
Kenneth Avila Jr.
Miss Taylor Barron
Mr. Jason Lopez Jr.
Parker Carter MD
Dennis Wells DDS
Mrs. Carol White
Courtney Stephenson MD
 Andrea Rose
 Seth Villarreal DVM
Mrs. Sabrina Murillo MD
Mr. Eric Gordon
Mrs. Brenda Johnson DVM
Anthony Garrett DDS
Billy Franco PhD
Mr. Jeremiah Rogers
Mr. Donald Vang
 Alexander Chang PhD
Mr. Robert Hendricks
 Bryan Kim
Mrs. Cynthia Lopez
 Laura Thompson
Ms. Stephanie Schwartz DDS
Mr. Anthony Deleon
Miss Sarah West
 Devin Sharp PhD
Brittney Hammond DVM
Miss Chelsea Sullivan PhD
 Jessica Love DVM
Leah Page DDS
Hannah Rose MD
Miss Norma Mcfarland
Dwayne Mathis Jr.
Cheryl Gay PhD
Patrick Morgan MD
Jeremy Rivera MD
Mr. Colton Collins II
Mr. Alexander Dalton
 Nicholas Braun
Chris Palmer III
Mr. Mason Hernandez MD
 Roberta Edwards
 Kaitlin Barton
 Nicholas Garcia
Mr. Trevor Woods
 Bradley Jones DDS
 Jennifer Thomas DDS
 Adam Rivera
Mr. Sean Coleman PhD
 Sheila Walton MD
Ian Sanchez DVM
 Robert Mckinney
Laura Franco MD
Kelly Williams DDS
Mason Adams MD
Mr. Jason Davis
 Daniel Flores
Mr. Gary Anderson DDS
Tyler Randall Jr.
Joshua Santiago DDS
Laurie Moore DDS
 Susan Walsh
Kristin Smith MD
Mrs. Denise Vasquez
Miss Bridget Ryan
Joseph Morgan IV
Carlos Adkins Jr.
Michael Craig DDS
 Brent Schwartz
Mrs. Melissa Vasquez
Ms. Sandra Ware
 Becky Powell
 Matthew Cooper DDS
Mark Livingston Jr.
Mr. Michael Martin DVM
Kari Anderson DVM
Mrs. Kaitlin Oconnor DVM
Crystal Miller DVM
Mrs. Margaret Watson
Mr. John Martin
Richard Price MD
Jennifer Powell DVM
Sheri Davis DDS
Traci Blanchard MD
Mrs. Nancy Blair
Aaron Carpenter MD
 Monica Wilson
 Kristin Holland
Kimberly Knight DDS
Mrs. Brittany Ford DDS
Benjamin Singh DVM
 Amber Owens
Michael Williams III
Mrs. Wendy Gomez DVM
Kara Stuart MD
Kayla Torres DVM
Bobby Hart DDS
Mark Russell MD
John Duncan MD
Rachel Gonzalez DVM
Mrs. Katherine Jones
 Brian Harrington DVM
Mrs. Theresa Winters
Mr. Chad Hale
Miguel Cook MD
Eric Evans III
John Murray DDS
 Andrew Young
Mrs. Jordan White MD
 Erica Stevenson
Mr. Stephen Hardy
Paul Stanley DDS
Christina Gonzalez DVM
 Anthony Jimenez
Christopher Thornton Jr.
Mrs. Julie Powers
 Christopher Sullivan
 Joyce Pace
 Alyssa Patrick
Adam Hayes III
Brittany Holmes MD
Mrs. Angela Floyd
Ms. Angela Hernandez
Michael Cummings MD
Brittany Sanchez PhD
Nicole Mclean DVM
 Melissa Fernandez
Scott Bishop DDS
Mrs. Alexandra Hamilton
 Jacob Taylor MD
Michael Moore Jr.
Ms. Alicia Zhang DDS
Mrs. Sharon Rose
Amber Ray MD
Mr. Jeremy Chang
Joseph Hudson II
Jessica Hughes MD
William Brooks Jr.
Mr. Jacob Frost
Mrs. Melissa Ingram DDS
 Robert Murphy
Mrs. Melanie Martinez PhD
Mr. Stephen Berry
 Judith Reese
Sarah Young DDS
Angela Thompson DDS
Mr. Darren Taylor
Daniel Welch II
Roger Horton Jr.
 Virginia Evans
 John Dyer
Jeffery Brown DDS
Paul Cox MD
Mrs. Angela Williams
Cory Marshall II
Mrs. Megan Clark MD
 Jennifer Hogan MD
Natalie Davis MD
 Sarah Johnson
 Corey Mathis
Mr. Joshua Thompson Jr.
Nancy Stewart DDS
Mr. Brian Glover
Roberta Garcia MD
Erin Conrad DVM
 Karla Love
 Tina White PhD
Leslie Wright MD
Ms. Brittney Nunez
Mrs. Susan Mccormick
Amanda Wolf DVM
Mr. Mitchell Coleman
Miss Christy Harris
Dylan Foley DDS
Mr. Lance Stark
Ricky Murphy DDS
Mr. Elijah Anderson
Kristen Dennis DVM
Mr. Casey Vang
William Young DDS
Ms. Kristina Cook
Mrs. Kimberly Floyd DDS
Mr. Timothy Brooks
Mrs. Samantha Jackson
Miss Lori Doyle
Ms. Karen Villegas MD
Brenda Maldonado MD
Katherine Pierce MD
 Aaron Morrison MD
Marcia Swanson DDS
Yolanda Harris DVM
Roger Forbes PhD
 Tiffany Harmon
Mrs. Kimberly Brandt
Mr. Casey Pham
Mrs. Dana Hammond DDS
John Ruiz DDS
David Li MD
Lisa Velasquez MD
Brian Bryan MD
Mr. Brian Wilson
Mr. Joseph Medina
Monica Dean DDS
Travis Mcintyre DVM
Mrs. Kelsey Marshall
Mr. Duane Roberts MD
Jon Flores II
Mrs. Lisa Lyons MD
 Philip Jones Jr.
Greg Joyce Jr.
Ms. Barbara Tran
Mrs. Mary Duarte MD
Christina Hull MD
Mr. Anthony Wilson
Mrs. Lisa Baker
Miss Mary Sloan
Mr. Joshua King
Daniel Mckinney MD
Nicole Martinez MD
 David Robinson DVM
Joe Butler MD
Thomas Frye Jr.
Patrick Mcdaniel PhD
 Brooke Williams
Robert Edwards PhD
Cynthia Mclaughlin PhD
Mark Hardy DDS
 Kathryn Riley
Mrs. Heather Price
Miss Ashley Howell
Mr. James Adams
Mr. Michael Eaton
Mr. Joseph Marquez Jr.
Danielle Mercer DVM
Jacqueline York DDS
Mrs. Barbara Sanchez

In [19]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [22]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [27]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Dylan Taylor',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas',
 'Scott Glover',
 'Jacqueline White',
 'Elizabeth Espinoza',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Roberto Wright',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Catherine Williams',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams',
 'Michele Dickerson',
 'Alicia Martinez',
 'Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson',
 'Tina Armstrong',
 'Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade',
 ...]

In [179]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

1531

In [180]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [181]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [182]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [183]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [184]:
school_data_complete_df["Student ID"].count()

39170

In [185]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [187]:
# Calculate the total number of schools
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

15

In [188]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [189]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [190]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [191]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [192]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [193]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [194]:
passing_math["student_name"].count()

29370

In [195]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"]
passing_math_count.count()

29370

In [196]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"]
passing_reading_count.count()

33610

In [197]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count/ float(student_count)*100
print(passing_math_percentage)

TypeError: cannot convert the series to <class 'float'>

In [198]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

TypeError: cannot convert the series to <class 'float'>

In [199]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [200]:
passing_math_reading["student_name"].count()

25528

In [201]:
passing_math_reading.student_name.count()

25528

In [202]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [203]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [204]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [205]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
school_name      65.172326
reading_score    65.172326
math_score       65.172326
School ID        65.172326
type             65.172326
size             65.172326
budget           65.172326
dtype: float64

In [206]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,Student ID 39170 student_name 39170 ...,24649428,78.985371,81.87784,0 NaN 4 NaN 5 ...,1 NaN 2 NaN 4 ...,Student ID 65.172326 student_name 65...

In [207]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [208]:
passing_math_count = 29370
total_student_count = 39170

In [209]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [210]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

TypeError: unsupported format string passed to Series.__format__

In [211]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [212]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

TypeError: unsupported format string passed to Series.__format__

In [213]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,Student ID 39170 student_name 39170 ...,"$24,649,428.00",79.0,81.9,0 NaN 4 NaN 5 ...,1 NaN 2 NaN 4 ...,Student ID 65.172326 student_name 65...

In [214]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [215]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [216]:
# Calculate the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [217]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [218]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [127]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [128]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [130]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [131]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [135]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [134]:
# Calculate the average test scores.
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [139]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [163]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [165]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

KeyError: 'school_name'

In [162]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

KeyError: 'school_name'

In [159]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

Bailey High School       1.773998e-12
Cabrera High School      6.627938e-09
Figueroa High School     1.153639e-10
Ford High School         2.156480e-10
Griffin High School      4.330150e-08
Hernandez High School    3.133810e-12
Holden High School       8.370400e-04
Huang High School        1.253048e-10
Johnson High School      2.502286e-12
Pena High School         1.289632e-06
Rodriguez High School    1.014701e-11
Shelton High School      1.014936e-08
Thomas High School       1.826459e-08
Wilson High School       1.271947e-09
Wright High School       8.469480e-09
dtype: float64

In [152]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

Bailey High School       2.685706e-07
Cabrera High School      4.382495e-05
Figueroa High School     3.620018e-06
Ford High School         5.144079e-06
Griffin High School      1.424830e-04
Hernandez High School    3.780081e-07
Holden High School       6.780701e-02
Huang High School        3.850314e-06
Johnson High School      3.320359e-07
Pena High School         1.164532e-03
Rodriguez High School    7.843790e-07
Shelton High School      5.659998e-05
Thomas High School       8.328440e-05
Wilson High School       1.556597e-05
Wright High School       5.112868e-05
dtype: float64

In [155]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [156]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [158]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64